@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

.titlefont{
    font-family: Ubuntu;
}

#title, #testimonials , #press , #cta{
    background-color: #674bff;
}

.footerm{
    font-size:70px;
}

.title-header{
    font-size: 70px;
}

.image{
    display:none;
}

.tilted{
    display:block;
    width:55%;
}
@media(max-width:1396px){
    .title-header{
        font-size: 53px;
    }
}

@media(max-width:1024px){
    .box{
        text-align: center;
        padding-right:12%;
    }

    /* Center the download buttons */
    .DB {
        text-align:center;
    }
    .tilted{
        display:none;
    }
    .image{
        display:block;
        position:static;
        width:100%;
    }
    .title-header{
        font-size: 50px;
    }
}

.contact:link{
    text-decoration: none;
    color:black;
}
.contact:hover{
    color:#674bff;
}

@media(min-width:1441px){
    .box{
        text-align: center;
    }
}

