#title, #testimonials , #press , #cta{
    background-color: #674bff;
}

.footerm{
    font-size:70px;
}

.title-header{
    font-size: 70px;
}

/* .title-image{
    transform: rotate(20deg);
    position: absolute;
    width:15%;
} */

.image{
    display:none;
}

.tilted{
    display:block;
    width:55%;
}

@media(max-width:1200px){
    .tilted{
        display:none;
    }
    .image{
        display:block;
        position:static;
        width:100%;
    }
    .title-header{
        font-size: 50px;
    }
}
